.div-border{
    border:1px dotted red;
}
.margin-30{
    margin-top:10px;
}
.button-width{
    width:120px;
}
.field-validation-error{
    color:red;
}
.hidden{
    display: none;
}
.select-wrapper {
    position: relative;
}

    .select-wrapper select {
        appearance: none; /* Remove default appearance (e.g., arrow) */
        padding: 10px; /* Adjust padding as needed */
        border: 1px solid #ccc; /* Add a border or customize as needed */
        background-color: #fff; /* Customize background color */
        width: 100%; /* Ensure the select takes up the full width */
    }

    /* Add custom arrow using a pseudo-element */
    .select-wrapper::after {
        content: "\25BC"; /* Unicode character for down arrow */
        position: absolute;
        top: 50%;
        right: 10px; /* Adjust the distance of the arrow from the right */
        transform: translateY(-50%);
        pointer-events: none; /* Ensure the arrow doesn't interfere with select clicks */
        font-size: 16px; /* Adjust font size as needed */
        color: #555; /* Customize arrow color */
    }

