@model AppointmentSearchParms

<div class="row">
    <div class="col-md-6">
        <label for="searchInpput">Search Doctor Name</label>
       <select id="ddlDoctor" class="form-control">

       </select>
    </div>
    <div class="col-md-6">
        <label>Status</label>        
        @Html.DropDownListFor(m => m.SelectedStatusId,Model.StatusList,new{@id="statusDropdown",@class="form-control"})
    </div>
    <div class="row margin-top-10">
        <div class="col-md-6">
            <button type="button" id="searchButton" class="btn btn-primary" style="width:50%;">Search</button>
        </div>        
    </div>    
</div>




