

<div class="row">
    <div class="col-md-6">
        <label for="searchInpput">Search Doctor Name</label>
       <select id="ddlDoctor" class="form-control">

       </select>
    </div>
    <div class="col-md-6">
        <label>Status</label>
        <select id="statusDropdown" class="form-control">
            <option value="0">All</option>
            <option value="1">Scheduled</option>
            <option value="2">Cancelled</option>
            <option value="3">Closed</option>
        </select>
    </div>
    <div class="row margin-top-10">
        <div class="col-md-6">
            <button type="button" id="searchButton" class="btn btn-primary" style="width:50%;">Search</button>
        </div>        
    </div>    
</div>




