<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  internalLogFile="C:\ApplicationLogs\InternalLogFiles.log"
	  internalLogLevel="Info"
      autoReload="true">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<variable name="LogDirectory" value="C:\ApplicationLogs\Logs"/>
	<!-- the targets to write to -->
	<targets>
		<!-- File Target for all log messages with basic details -->
		<target xsi:type="File" name="FileTarget" fileName="${LogDirectory}\ApiLogs.log"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
			    archiveAboveSize="3145728"
				archiveEvery="Day"
				archiveFileName = "${LogDirectory}/Archive/{#}.log"
				archiveNumbering = "DateAndSequence"
				archiveDateFormat = "yyyyMMdd"
				maxArchiveFiles = "21"
		/>
		<target name="ConsoleTarget"
                xsi:type="Console"
               layout="${longdate} ${logger:shortName=True} ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,StackTrace,method:maxInnerExceptionLevel=8:innerFormat=type,message,StackTrace,method}}"
        />
		
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="Microsoft.*" minlevel="Info" final="true" />
		<!-- BlackHole without writeTo -->
		<logger name="*" minlevel="Info" writeTo="FileTarget,ConsoleTarget" />
	</rules>
</nlog>